.terraform/
*.tfstate
terraform.tfstate.*
.terraform.tfstate.lock.info
.env
venv/
__pycache__/
*.zip
terraform.tfvars
*.tfvars.json
save_as_parquet.py
__pycache__
*.log
src/
plugins/
dbt_project/profiles.yml
dbt_project/analyses/
.airflow/
scripts/
#google_creds.json
dbt_project/user.yml
dbt_project/README.md
src/
Scripts/
.terraform.lock.hcl
